.input {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  input {
    width: 60%;
    margin-top: 50px;
    height: 40px;
    border-radius: 8px;
    font-size: 24px;
  }
  button {
    padding: 10px 25px;
    border-radius: 4px;
    font-size: 18px;
    background-color: rgb(224, 224, 224);
    cursor: pointer;
    border: none;
    &:hover {
      background-color: rgb(12, 101, 98);
      color: white;
    }
  }
}
.text {
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 470px;
  height: auto;
  align-items: center;
  text-align: center;
  opacity: 0.8;
  width: 100%;
  p{
    margin-top: 20px;
  }
  img {
    width: 40%;
    height: 40px;
    margin-top: 20px;
    margin-left: 15px;
  }
  .countrie {
    display: flex;
    flex-direction: row;
  }
  button {
    padding: 8px 13px;
    border-radius: 3px;
    background-color: rgb(0, 157, 115);
    font-size: 16px;
    align-self: flex-end;
    border: none;
    color: white;
    margin-bottom: 15px;
    margin-right: 15px;
    &:hover {
      background-color: rgb(1, 181, 133);
    }
  }
}
.aboutMovie {
  display: flex;
  flex-direction: column;
  min-height: 470px;
  height: auto;
  width: 17%;
  margin-left: 40%;
  align-items: center;
  border-radius: 8px;
  color: white;
  margin-top: 40px;
  font-size: 24px;
  background-size: cover;
  text-align: center;
}
.movie {
  display: flex;
  flex-direction: row;
}
.addList {
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(53, 126, 137);
  height: 400px;
  width: 30%;
  border-radius: 8px;
  margin-left: 100px;
  margin-top: 40px;
  p {
    font-size: 26px;
    margin-top: 10px;
  }
  textarea {
    width: 80%;
    height: 150px;
    margin-top: 5px;
  }
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(0, 157, 115);
    border: none;
    color: white;
    &:hover {
      background-color: rgb(1, 181, 133);
    }
  }
  ngb-rating {
    font-size: 30px;
    color: yellow;
    margin-top: -15px;
  }
}
li {
  margin: 30px;
  width: 8.5%;
  list-style: none;
  border-bottom: 1px solid black;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}