<div class="input">
<input type="text" [(ngModel)]="movieName" />
<button (click)="getMovieInfo()">Get movie info</button>
</div>

<div class="aboutMovie" *ngIf="movieInfo$ | async as movieInfo">
  <p>Movie Name: {{ movieInfo.title }}</p>
  <p>Released {{ movieInfo.yearReleased }} years ago</p>
  <p>Actors: {{ movieInfo.actorNames }}</p>
  <p>Countries: {{ movieInfo.countries }}</p>
  <p>currencies:</p> 
  <div class="countrie" *ngFor="let countrie of movieInfo.currencies">
  <p> {{countrie.name}}</p>
  <img src="{{countrie.flags}}">
</div>
</div>
