.container {
  background-color: rgb(53, 126, 137);
  margin-top: 60px;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 350px;
  p:first-child {
    margin-top: 30px;
  }
  button {
    align-self: flex-end;
    margin-bottom: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: rgb(0, 157, 115);
    border: none;
    color: white;
    &:hover {
      background-color: rgb(1, 181, 133);
    }
  }
}
img {
  width: 200px;
  height: 300px;
  margin: 20px;
}
li {
  margin: 30px;
  width: 4%;
  list-style: none;
  border-bottom: 1px solid black;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}
