.container {
  background-color: rgb(53, 126, 137);
  margin-top: 60px;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  p:first-child {
    margin-top: 20px;
  }
  button {
    align-self: flex-end;
    margin-bottom: 20px;
    margin-right: 30px;
    background-color: rgb(0, 157, 115);
    border: none;
    color: white;
    &:hover {
      background-color: rgb(1, 181, 133);
    }
  }
}
